.card__slider-container {
  text-align: center;
}

/* .range-slider-bar {
} */

.slider {
  appearance: none;
  background-color: var(--soft-cyan);
  height: 10px;
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url("src/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--strong-cyan);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
* .slider::-moz-range-thumb {
  width: 20rem;
  height: 20rem;
  background-color: var(--strong-cyan);
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 15px var(--strong-cyan);
}

.range-slider-bar input[type="range"] {
  width: 85%;
}

@media only screen and (min-width: 1000px) {
  .card__header {
    display: grid;
    grid-template-areas:
      "card__header-pageviews card__header-price"
      "card__slider-container card__slider-container";
  }
  .card__header > .card__header-pageviews {
    grid-area: card__header-pageviews;
  }
  .card__header > .card__header-price {
    grid-area: card__header-price;
  }
  .card__header > .card__slider-container {
    grid-area: card__slider-container;
  }

  .card__slider-container {
    padding-bottom: 5rem;
  }

  .card__header-pageviews {
    font-size: 20px;
    color: var(--gray-blue);
    letter-spacing: 0.1em;
    padding-top: 2.5rem;
    padding-left: 4rem;
    text-align: left;
  }

  .card__header-price {
    padding: 2.5rem;
  }
  .value {
    display: inline-block;
    color: var(--dark-blue);
    font-size: 50px;
    font-weight: 800;
  }

  .slider::-webkit-slider-thumb {
    width: 4rem;
    height: 4rem;
  }

  .card__slider-container {
    padding-bottom: 5rem;
  }
}
