/* toggle box */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

/* hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.card__toggle {
  padding-bottom: 3rem;
}

/* toggle switch */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--faint-blue-toggle);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle {
  background-color: var(--soft-cyan);
}

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}

.billing {
  color: var(--gray-blue);
  padding: 0.5rem;
}

@media only screen and (min-width: 1000px) {
  .card__footer {
    display: grid;
    grid-template-areas: "card__footer--text card__footer--button";
  }

  .card__toggle {
    font-size: 20px;
  }

  .billing {
    padding: 1.5rem;
  }

  .discount {
    display: inline-block;
    color: var(--light-red);
    background-color: var(--light-grayish-red);
    font-size: 18px;
    padding: 5px 13px;
    width: 60px;
    border-radius: 30px;
  }
}
